<%- include('defaults/header') %>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>
<h1>Some name</h1>
<style>
    *{
        transition: .5s ease;
    }
    .hide {
        display: none;
    }

    .show {
        display: block;
    }
</style>

<script>
    const hide = el => {
        el.classList.add('hide');
        el.classList.remove('show');
    }
    const show = el => {
        el.classList.remove('hide');
        el.classList.add('show');
    }
</script>


<form method="post" action="/options" enctype="multipart/form-data">
    <style>
        .form-group {
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="taskName" placeholder="Enter a project/task name" required>
    </div>
    <div class="form-group" style="display: flex;flex-direction: row;justify-content: space-between;width: 100%;">
        <div class="option">
            <select class="form-control" id="exampleFormControlSelect1" name="starterSelector" required>
                <option value="upload" selected>Upload</option>
                <option value="url">Url</option>
            </select>
        </div>

        <div class="upload-url">
            <div class="upload" data-target-checkout="upload">
                <input type="file" class="form-control-file" name="zipFile" placeholder="Upload zip"
                       accept=".zip" required>
            </div>
            <div class="url hide" data-target-checkout="url">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Paste your url"
                       name="toScrapUrl">
            </div>
        </div>
        <script>
            (() => {
                const upload = document.querySelector('[data-target-checkout="upload"]'),
                    uploadInput = upload.querySelector('input'),
                    url = document.querySelector('[data-target-checkout="url"]'),
                    urlInput = url.querySelector('input')

                document.querySelector('#exampleFormControlSelect1').addEventListener('change', event => {
                    switch (event.target.value) {
                        case 'upload':
                            uploadInput.setAttribute('required', 'required')
                            urlInput.removeAttribute('required')
                            show(upload);
                            hide(url);
                            break;
                        case 'url':
                            console.log('url')
                            uploadInput.removeAttribute('required')
                            urlInput.setAttribute('required', 'required')
                            hide(upload);
                            show(url);
                            break;
                    }
                })
            })()
        </script>
    </div>
    <div class="form-group">
        <label>Department</label>
        <div class="option">
            <select class="form-control selectpicker" name="department" searchable="Search here.." data-live-search="true" multiple   data-min-options="1">
                <option data-tokens="vitrina" value="vitrina" selected>Vitrina</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Product Name for replacement</label>
        <div class="option" id="productNameReplacement">
            <div class="row" style="align-items: center;">
                <div class="col">
                    <input type="text" class="form-control" name="productOldName"
                           placeholder="Enter an old product name">
                </div>
                ->
                <div class="col">
                    <input type="text" class="form-control" name="productNewName"
                           placeholder="Enter an new product name">
                </div>
            </div>
        </div>
        <script>
            (() => {
                const oldNameInput = document.querySelector(`#productNameReplacement input[name='productOldName']`)
                const newNameInput = document.querySelector(`#productNameReplacement input[name='productNewName']`)
                oldNameInput.addEventListener('input', () => oldNameInput.value === '' ? newNameInput.removeAttribute('required') : newNameInput.setAttribute('required', 'required'))
            })()
        </script>
    </div>
    <div class="form-group">
        <label>Package(s) attach</label>
        <div class="option" id="packageAttach">
            <style>
                #packageAttach .dropdown-menu li.selected{
                    background-color: #007bff;
                }
                #packageAttach .dropdown-menu li:hover a.dropdown-item{
                    transform: scale(.95);
                }
                #packageAttach .dropdown-menu li a.dropdown-item:hover{
                    background-color: unset;
                }
            </style>
            <select class="form-control selectpicker" name="packages" searchable="Search here.." data-live-search="true" multiple>
                <option data-tokens="price" value="price">Price</option>
                <option data-tokens="translator" value="translator">Translator</option>
                <option data-tokens="datePicker" value="datePicker">Date picker</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">DO</button>
</form>

<!--<form method="post" action="/" enctype="multipart/form-data">-->
<!--    <div class="form-group">-->
<!--        <label for="exampleFormControlFile1">Example file input</label>-->
<!--        <input type="file" class="form-control-file" name="image">-->
<!--    </div>-->
<!--    <div class="form-check">-->
<!--        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">-->
<!--        <label class="form-check-label" for="defaultCheck1">-->
<!--            Default checkbox-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-check">-->
<!--        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>-->
<!--        <label class="form-check-label" for="defaultCheck2">-->
<!--            Disabled checkbox-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-check">-->
<!--        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>-->
<!--        <label class="form-check-label" for="exampleRadios1">-->
<!--            Default radio-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-check">-->
<!--        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">-->
<!--        <label class="form-check-label" for="exampleRadios2">-->
<!--            Second default radio-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-check">-->
<!--        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>-->
<!--        <label class="form-check-label" for="exampleRadios3">-->
<!--            Disabled radio-->
<!--        </label>-->
<!--    </div>-->

<!--    <div class="form-check form-check-inline">-->
<!--        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">-->
<!--        <label class="form-check-label" for="inlineCheckbox1">1</label>-->
<!--    </div>-->
<!--    <div class="form-check form-check-inline">-->
<!--        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">-->
<!--        <label class="form-check-label" for="inlineCheckbox2">2</label>-->
<!--    </div>-->
<!--    <div class="form-check form-check-inline">-->
<!--        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>-->
<!--        <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label for="formGroupExampleInput">Example label</label>-->
<!--        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="formGroupExampleInput2">Another label</label>-->
<!--        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">-->
<!--    </div>-->

<!--    <hr>-->
<!--    <hr>-->
<!--    <hr>-->
<!--    <h3>NEXT WRAP</h3>-->
<!--    <hr>-->
<!--    <hr>-->
<!--    <hr>-->

<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            <input type="text" class="form-control" placeholder="First name">-->
<!--        </div>-->
<!--        <div class="col">-->
<!--            <input type="text" class="form-control" placeholder="Last name">-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="form-row">-->
<!--        <div class="col">-->
<!--            <input type="text" class="form-control" placeholder="First name">-->
<!--        </div>-->
<!--        <div class="col">-->
<!--            <input type="text" class="form-control" placeholder="Last name">-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label for="exampleInputEmail1">Email address</label>-->
<!--        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="exampleInputPassword1">Password</label>-->
<!--        <input type="password" class="form-control" id="exampleInputPassword1">-->
<!--    </div>-->
<!--    <div class="form-group form-check">-->
<!--        <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--        <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="exampleFormControlSelect1">Example select</label>-->
<!--        <select class="form-control" id="exampleFormControlSelect1">-->
<!--            <option>1</option>-->
<!--            <option>2</option>-->
<!--            <option>3</option>-->
<!--            <option>4</option>-->
<!--            <option>5</option>-->
<!--        </select>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="formControlRange">Example Range input</label>-->
<!--        <input type="range" class="form-control-range" id="formControlRange">-->
<!--    </div>-->

<!--    <hr>-->
<!--    <hr>-->
<!--    <hr>-->
<!--    <h3>NEXT WRAP</h3>-->
<!--    <hr>-->
<!--    <hr>-->
<!--    <hr>-->

<!--    <div class="form-group row">-->
<!--        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>-->
<!--        <div class="col-sm-10">-->
<!--            <input type="email" class="form-control" id="inputEmail3">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group row">-->
<!--        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>-->
<!--        <div class="col-sm-10">-->
<!--            <input type="password" class="form-control" id="inputPassword3">-->
<!--            <small id="passwordHelpInline" class="text-muted">-->
<!--                Must be 8-20 characters long.-->
<!--            </small>-->
<!--        </div>-->
<!--    </div>-->
<!--    <fieldset class="form-group">-->
<!--        <div class="row">-->
<!--            <legend class="col-form-label col-sm-2 pt-0">Radios</legend>-->
<!--            <div class="col-sm-10">-->
<!--                <div class="form-check">-->
<!--                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>-->
<!--                    <label class="form-check-label" for="gridRadios1">-->
<!--                        First radio-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="form-check">-->
<!--                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">-->
<!--                    <label class="form-check-label" for="gridRadios2">-->
<!--                        Second radio-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="form-check disabled">-->
<!--                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>-->
<!--                    <label class="form-check-label" for="gridRadios3">-->
<!--                        Third disabled radio-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </fieldset>-->
<!--    <div class="form-group row">-->
<!--        <div class="col-sm-2">Checkbox</div>-->
<!--        <div class="col-sm-10">-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" id="gridCheck1">-->
<!--                <label class="form-check-label" for="gridCheck1">-->
<!--                    Example checkbox-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group row">-->
<!--        <div class="col-sm-10">-->
<!--            <button type="submit" class="btn btn-primary">Sign in</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <hr>-->
<!--    <hr>-->
<!--    <hr>-->
<!--    <h3>NEXT WRAP</h3>-->
<!--    <hr>-->
<!--    <hr>-->
<!--    <hr>-->

<!--    <div class="form-row align-items-center">-->
<!--        <div class="col-auto">-->
<!--            <label class="sr-only" for="inlineFormInput">Name</label>-->
<!--            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Jane Doe">-->
<!--        </div>-->
<!--        <div class="col-auto">-->
<!--            <label class="sr-only" for="inlineFormInputGroup">Username</label>-->
<!--            <div class="input-group mb-2">-->
<!--                <div class="input-group-prepend">-->
<!--                    <div class="input-group-text">@</div>-->
<!--                </div>-->
<!--                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">-->
<!--                <small id="passwordHelpBlock" class="form-text text-muted">-->
<!--                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.-->
<!--                </small>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-auto">-->
<!--            <div class="form-check mb-2">-->
<!--                <input class="form-check-input" type="checkbox" id="autoSizingCheck">-->
<!--                <label class="form-check-label" for="autoSizingCheck">-->
<!--                    Remember me-->
<!--                </label>-->

<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-auto">-->
<!--            <button type="submit" class="btn btn-primary mb-2">Submit</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <hr>-->
<!--    <hr>-->
<!--    <hr>-->
<!--    <h3>NEXT WRAP</h3>-->
<!--    <hr>-->
<!--    <hr>-->
<!--    <hr>-->


<!--    <button type="submit" class="btn btn-primary">DO</button>-->
<!--</form>-->

<!--<hr>-->
<!--<hr>-->
<!--<hr>-->
<!--<h3>NEXT WRAP</h3>-->
<!--<hr>-->
<!--<hr>-->
<!--<hr>-->

<!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--    Launch demo modal-->
<!--</button>-->

<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                ...-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<%- include('defaults/footer') %>