<div class="container">
  <form method="post" action="/options" enctype="multipart/form-data">
    <div class="card-panel">
      <div class="row flex">
        <div class="input-field col s6">
          <input id="telegramID" type="text" class="validate" name="telegramID" tabindex="1" value="589781832" required> <!-- -479214389  -->
          <label for="telegramID">Your Telegram ID</label>
          <span class="helper-text" data-error="wrong" data-success="right">
            Paste Your <a href="https://t.me/codeTimeAutomaticNotifier_Bot" target="_blank">Telegram ID</a>
          </span>
        </div>
        <div class="input-field col s6">
          <input id="taskName" type="text" class="validate" name="taskName" tabindex="2" required>
          <label for="taskName">Project name</label>
          <span class="helper-text" data-error="wrong" data-success="right">Write your project name</span>
        </div>
        <div class="col s3">
          <div class="input-field">
            <div class="switch">
              <label>
                Website URL
                <input id="zipOrUrl" type="checkbox">
                <span class="lever"></span>
                Upload ZIP file
              </label>
              <input type="hidden" id="starterSelector" name="starterSelector" value="url">
            </div>
          </div>
        </div>
        <div class="col s9">
          <div class="input-field " id="checkout-url">
            <input id="toScrappUrl" type="text" class="validate" name="toScrappUrl" tabindex="3" required>
            <label for="toScrappUrl">URL web site</label>
          </div>
          <div class="file-field input-field hide" id="checkout-upload">
            <div class="btn">
              <span>Zip file</span>
              <input type="file" accept="zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload one or more zip files" >
            </div>
          </div>
        </div>


        <div class="input-field col s6">
          <input name="productOldName" placeholder="Old offer" id="productOldName" tabindex="4" type="text">
          <label for="productOldName">Product Old Name</label>
        </div>
        <div class="input-field col s6">
          <input name="productNewName" placeholder="New offer" id="productNewName" tabindex="5" type="text">
          <label for="productNewName">Product New Name</label>
        </div>
        <div class="input-field col s12">
          <select id="department" name="department">
            <option value="" disabled selected>Choose your Department</option>
            <option value="vitrina">Vitrina</option>
            <option value="lpl">LPL</option>
            <option value="msk">MSK</option>
            <option value="rst">RST</option>
            <option value="st">ST</option>
            <option value="ukraina">Ukraina</option>
            <option value="spb">SPB</option>
          </select>
          <label>Department</label>
        </div>
      </div>
    </div>
    <div class="card-panel">
      <div class="row">
        <div class="input-field col s6">
          <input name="hashToken" placeholder="Hash" id="productHash" type="text">
          <label for="productHash">Product Hash</label>
        </div>
        <div class="input-field col s6">
          <input name="productToken" placeholder="Token" id="productToken" type="text">
          <label for="productToken">Product Token</label>
        </div>
      </div>
    </div>
    <button type="submit" class="waves-effect waves-light btn-large">Let's go</button>
  </form>
</div>
