<div class="container bg-secondary p-3 readme">
  <style>
    .readme ul {
      padding-left: 40px!important;
    }
    .readme li {
      list-style-type: disc!important;
    }
  </style>
  <div class="card-panel">
    <%-data%>
  </div>
</div>
