<div class="container bg-secondary p-3" id="login">
    <h1>Login</h1>
    <form method="post" action="/login" enctype="multipart/form-data">
        <style>
            .form-group {
                padding: 10px;
            }
        </style>
        <div class="form-group p-3 cool-shadow bg-dark">
            <label>Email</label>
            <input type="email" class="form-control bg-dark text-white rounded-0" name="email"
                   placeholder="Enter your email" required>
        </div>
        <div class="form-group p-3 cool-shadow bg-dark">
            <label>Password</label>
            <input type="password" class="form-control bg-dark text-white rounded-0" name="password"
                   placeholder="Enter your email" required>
        </div>
        <button type="submit" class="btn btn-light cool-shadow p-2-3">Login</button>
    </form>
</div>
