<nav class="teal lighten-1">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">CodeTime</a>
      <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% data.buttons.forEach(function(button){ %>
            <li class="<% if (button.href === data.active) { %> active <% } %> ">
                <a href="<%= button.href %>">
                    <%=button.text%>
                </a>
            </li>
        <% }); %>
      </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="mobile-nav">
  <% data.buttons.forEach(function(button){ %>
      <li class="<% if (button.href === data.active) { %> active <% } %> ">
          <a href="<%= button.href %>">
              <%=button.text%>
          </a>
      </li>
  <% }); %>
</ul>
